body{
    min-zoom: 100%;
    max-zoom: 100%;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin: 0;
    -webkit-overflow-scrolling: touch;
}

html{
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
    /* Quebra as palavras para ajustá-las à largura disponível */
    word-break: break-word;
  }

body::-webkit-scrollbar {
    display: none;
  }

h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: #000;
    word-wrap: break-word;
}

.wrapper{
    min-height: 100vh;
    width: 100%;
    max-width: 100vw; /* Ajuste o valor para controlar a largura máxima da página */
    overflow: hidden; /* Impede a exibição do conteúdo fora da largura máxima */
    background-color: #f2f2f2;
}

.wrapper::-webkit-scrollbar {
    display: none;
  }

main{
    display: block;
    background-color: #fff;
}

.container{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

section.module p{
    margin: 0 0; /* Adicione uma margem lateral de 10 pixels para evitar que as palavras cheguem muito perto das bordas */
    margin-bottom: 5px;
    margin-top: 10px;
}

section.module:last-child{
    margin-bottom: 0;
}

section.module h2{
    margin-bottom: 40px;
    font-size: 30px;
    word-wrap: break-word;
}

section.module.content{
 padding: 40px 0;
 background: #ece7d5;
}

section.module.content .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }

.contentaccess {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    }
    
    .contentaccess canvas{
        max-width: 100%;
    }

canvas {
    display: block;
    margin: 0 auto;
    width: 100%; /* Ocupar a largura total do contêiner */
}

